body {
}
#page4_maindiv {
	overflow:hidden;
	position:absolute;
	width:1366px;
	height:768px;
	background-repeat:no-repeat;
	background-image: url('/www/img/hearingdisabled/bg_2.png');
}

#page4_brandlogo {
	background-image: url('/www/img/Page1/Untitled-1-Recovered_05.png');
	width:123px;
	height:131px;
	background-size:contain;
	margin-left:1202px;
	margin-top:30px;
}

#page4_selectajob {
    position:absolute;
	width:440px;
	height:60px;
	margin-top:-90px;
	margin-left:440px;
	background-image: url('/www/img/hearingdisabled/job_select.png');
}
#page4_back:hover {
	opacity:0.6;
}
#page4_back {
	border:none;
	margin-top:-70px;
	margin-left:80px;
	width:75px;
	height:75px;
	position:absolute;
	background-size:contain;
	background-image: url('/www/img/hearingdisabled/back.png');
	border-radius: 38px/37.5px;
}

#page4_contentpart {
	height: 637px;
}

#page4_groupcontents {
	width:1294px;
	height:507px;
	margin-top:57px;
	margin-left:37px;
}

#page4_itemframe {
	
	
}

#page4_image {
	width:304px;
	height:231px;
	margin-top:20px;
	margin-left:10px;
}
#page4_image:hover{
	opacity:0.5;
}
#page4detail_title {
	color:#cc5c00;
	position:relative;
	float:right;
	margin-top:-40px;
}

#page4detail_image {
	width:974px;
	height:554px;
	margin-top:10px;
}

#page4_details {
	
	width:977px;
	height:575px;
	margin-top:-685px;
	margin-left:45px;
	display:none;
}

#page4_hidebutton {
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-550px;
	background-size:contain;
	margin-left:1040px;
	width:95px;
	height:95px;
	background-image: url('/www/img/hearingdisabled/detail/back_alt.png');
	border-radius: 48px/47.5px;
	border:none;
    display:none;
}
#page4_hidebutton:hover{
	opacity:0.5;
}

#page4apply_button {
	position:absolute;
	width:210px;
	height:56px;
	border:none;
	margin-left:-230px;
	margin-top:480px;
	background-repeat:no-repeat;
	background-color:transparent;
	border-color:transparent;
	background-image: url('/www/img/hearingdisabled/detail/apply.png');
}
#page4apply_button:hover{
		background-image: url('/www/img/hearingdisabled/detail/apply_hover.png');
}